<!DOCTYPE html>
<html>
<head>
	<title>Weather | About</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="/css/styles.css" type="text/css"/>
</head>
<body>
	<div class="main-content">
		{{>header}}
		<img src="/img/IMG_1528.jpg" class="portrait"/>
	</div>
	{{>footer}}
</body>
</html>